@import "../../../styles/tokens.scss";

.inputWrapper {
  padding: 0.5rem 0 1rem 0;
  .label {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  input {
    font-size: $font-size-body;
    line-height: 1.2;
    height: $spacer-600;
    padding-block: $spacer-300;
    padding-inline: $spacer-300;
    border-style: unset;
    border-radius: $border-roundness-100;
    border: 1px solid $neutral-500;

    &focus,
    &focus-within {
      border: 1px solid $neutral-700;
    }
  }
  .inputError {
    border: 2px solid $red-200;
  }
  .error {
    font-size: $font-size-label;
    color: $red-200;
  }
}
