@import "../../../styles/tokens.scss";

.inputWrapper {
  padding: $spacer-200 0 $spacer-300 0;
  .label {
    display: flex;
    flex-direction: column;
    row-gap: $spacer-200;
    font-weight: $font-weight-semibold;
    color: $neutral-700;
  }
  input {
    font-size: $font-size-body;
    font-family: $font-body;
    line-height: 1.2;
    height: $spacer-600;
    padding-block: $spacer-300;
    padding-inline: $spacer-300;
    border-style: unset;
    border-radius: $border-roundness-100;
    border: 1px solid $neutral-500;

    &focus,
    &focus-within {
      border: 1px solid $neutral-700;
    }
  }
  .inputError {
    border: 2px solid $red-200;
  }
  .error {
    font-size: $font-size-label;
    color: $red-200;
  }
}
