@import "../../styles/tokens.scss";

.pageHeader {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: $spacer-300;
  background-color: $neutral-100;
  padding: $spacer-300 $spacer-400;
  border-bottom: solid $border-width-100 $neutral-300;

  > div {
    z-index: 100;
  }

  > div:first-of-type {
    justify-self: flex-start;
  }

  > div:last-of-type {
    justify-self: flex-end;
  }

  nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: $spacer-800 0 0 0;
    font-family: $font-display;
    background-color: $neutral-100;
    border-right: solid $border-width-100 $neutral-300;

    ul {
      display: flex;
      flex-direction: column;
      font-size: $font-size-body-large;
      width: 100%;
    }
  }

  &LogoWrapper {
    max-width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Logo {
    width: 100%;
    height: $spacer-500;
  }

  .menuIcon {
    height: $spacer-400;
    width: $spacer-400;
  }
}

.spacer {
  height: $border-width-100;
  width: 66%;
  background-color: $neutral-300;
  justify-self: center;
  margin: $spacer-600 auto;
}

.visible {
  transform: translateX(0);
}

.hidden {
  transform: translateX(-120%);
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .pageHeader {
    display: flex;
    flex-direction: row;
    padding: $spacer-300 $spacer-400;
    justify-content: space-between;

    nav {
      position: fixed;
      left: 0;
      top: 0;
      height: 100vh;
      width: 25%;
      display: flex;
      align-items: flex-end;

      ul {
        display: flex;
        flex-direction: column;
        align-items: left;
      }
    }
  }

  .dashboardContents {
    margin-left: 25%;
    padding: $spacer-400;
  }

  .visible {
    transform: translateX(0);
  }

  .hidden {
    transform: translateX(0);
  }

  .mobileButton {
    display: none;
  }

  .spacer {
    margin: $spacer-600 auto;
  }
}

@media only screen and (min-width: 1366px) {
  .pageHeader {
    padding: $spacer-300 $spacer-400;

    nav {
      width: 20%;
    }

    &LogoWrapper {
      max-width: 250px;
    }

    &Logo {
      height: $spacer-600;
    }
  }

  .dashboardContents {
    margin-left: 20%;
    padding: $spacer-400;
  }
}

@media only screen and (min-width: 1600px) {
  .pageHeader {
    padding: $spacer-300 $spacer-400;
  }
}
