@import "../../styles/tokens.scss";

.noUser {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh);
  background-color: $neutral-200;
}

.signOut {
  position: absolute;
  z-index: 100;
  top: calc(100% + $spacer-200);
  width: 100%;
  right: -6px;
  background-color: $neutral-100;
  padding: $spacer-300 $spacer-300;
  display: flex;
  flex-direction: column;
  border: solid $border-width-100 $neutral-300;
  border-radius: $border-roundness-100;
  min-width: 150px;
  box-shadow: $box-shadow;
  gap: $spacer-300;
  &:before {
    position: absolute;
    display: flex;
    content: "";
    background-color: $neutral-100;
    width: 16px;
    height: 16px;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    border-left: solid $border-width-100 $neutral-300;
    border-top: solid $border-width-100 $neutral-300;
  }
  button {
    background: none;
    border: none;
    font-size: $font-size-body;
    font-family: $font-body;
    color: $blue-200;
    font-weight: $font-weight-semibold;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding-inline: 0;
    &:hover {
      color: $blue-100;
    }
  }
  a {
    font-size: $font-size-body;
    font-family: $font-body;
    color: $blue-200;
    font-weight: $font-weight-semibold;
    &:hover {
      color: $blue-100;
    }
  }
  &Hidden {
    display: none;
  }
}

.accountBalance {
  display: none;
}

.accountDetails {
  display: none;
}

.accountIconWrapper {
  display: flex;
  flex-direction: row;
  gap: $spacer-200;
  position: relative;
}

.pageHeader {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: $spacer-300;
  background-color: $neutral-100;
  padding: $spacer-300 $spacer-400;
  border-bottom: solid $border-width-100 $neutral-300;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 62px;
  z-index: 2;
  > div {
    z-index: 100;
  }

  > div:first-of-type {
    justify-self: flex-start;
  }

  > div:last-of-type {
    justify-self: flex-end;
  }

  nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: $spacer-800 0 0 0;
    font-family: $font-display;
    background-color: $neutral-100;
    border-right: solid $border-width-100 $neutral-300;

    ul {
      display: flex;
      flex-direction: column;
      font-size: $font-size-body-large;
      width: 100%;
    }
  }

  &LogoWrapper {
    max-width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Logo {
    width: 100%;
    height: $spacer-500;
    cursor: pointer;
  }

  .menuIcon {
    height: $spacer-400;
    width: $spacer-400;
  }
}

.spacer {
  height: $border-width-100;
  width: 66%;
  background-color: $neutral-300;
  justify-self: center;
  margin: $spacer-600 auto;
}

.visible {
  transform: translateX(0);
}

.hidden {
  transform: translateX(-120%);
}

.dashboardContents {
  position: relative;
  padding: $spacer-400;
  background-color: $neutral-200;
  min-height: calc(100vh - 62px);
  margin-top: 62px;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .accountIconWrapper {
    align-items: center;
    justify-content: center;
    gap: $spacer-300;
    cursor: pointer;
    position: relative;
  }

  .signOut {
    &:before {
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  .accountDetails {
    display: flex;
    flex-direction: column;
    gap: $spacer-100;
    p {
      line-height: 1;
      &:first-of-type {
        font-size: $font-size-body-large;
        font-weight: $font-weight-semibold;
      }
      &:last-of-type {
        font-size: $font-size-label;
        color: $neutral-500;
      }
    }
  }

  .accountInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: $spacer-500;
    margin-right: $spacer-400;
  }
  .accountBalance {
    display: flex;
    flex-direction: row;
    background-color: $neutral-200;
    border-radius: $border-roundness-100;
    padding: $spacer-200 $spacer-300;
    font-size: $font-size-body-large;
    align-items: center;
    justify-content: center;
    gap: $spacer-300;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: $spacer-100;
      font-weight: $font-weight-semibold;

      &:hover {
        p {
          color: $blue-200;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .pageHeader {
    display: flex;
    flex-direction: row;
    padding: $spacer-300 $spacer-400;
    justify-content: space-between;
    height: 96px;
    nav {
      position: fixed;
      left: 0;
      top: 0;
      height: 100vh;
      width: 25%;
      display: flex;
      align-items: flex-end;

      ul {
        display: flex;
        flex-direction: column;
        align-items: left;
      }
    }
    &LogoWrapper {
      max-width: 250px;
    }

    &Logo {
      height: $spacer-600;
    }
  }

  .dashboardContents {
    margin-left: 25%;
    padding: $spacer-400;
    height: 100%;
    min-height: calc(100vh - 96px);
    margin-top: 96px;
    box-sizing: border-box;
  }

  .visible {
    transform: translateX(0);
  }

  .hidden {
    transform: translateX(0);
  }

  .mobileButton {
    display: none;
  }

  .spacer {
    margin: $spacer-600 auto;
  }
}

@media only screen and (min-width: 1366px) {
  .pageHeader {
    padding: $spacer-400 $spacer-400;
    height: 96px;
    nav {
      width: 20%;
    }

    &LogoWrapper {
      max-width: 250px;
    }

    &Logo {
      height: $spacer-600;
    }
  }

  .dashboardContents {
    margin-left: 20%;
    padding: $spacer-400;
  }
}
