@import "../../../styles/tokens.scss";
.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: $spacer-300;
}

@media screen and (min-width: 1024px) {
  .contentWrapper {
    gap: $spacer-400;
  }
}
