@import "../../styles/tokens.scss";

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(40, 51, 62, 0.3);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  &Wrapper {
    width: fit-content;
    height: fit-content;
    position: relative;

    &Close {
      position: absolute;
      display: flex;
      width: 36px;
      height: 36px;
      top: $spacer-200;
      right: 2%;
      justify-content: center;
      align-items: center;
      z-index: 11;
      cursor: pointer;

      &:hover {
        filter: brightness(0.4);
      }
    }
    > div {
      z-index: 10;
    }
  }
}
.modalHidden {
  display: none;
  pointer-events: none;
}

.pageHeader {
  position: relative;
  z-index: 1200;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: $spacer-300;
  background-color: $neutral-100;
  padding: $spacer-300 $spacer-400;
  border-bottom: solid $border-width-100 $neutral-300;

  > div {
    z-index: 100;
  }

  > div:first-of-type {
    justify-self: flex-start;
  }

  > div:last-of-type {
    justify-self: flex-end;
  }

  nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: $spacer-800 0 0 0;
    font-family: $font-display;
    background-color: $neutral-100;
    border-left: solid $border-width-100 $neutral-300;

    ul {
      display: flex;
      flex-direction: column;
      gap: $spacer-300;
      font-size: $font-size-header-4;

      li {
        font-family: $font-display;
        font-size: $font-size-header-4;
        text-align: center;
        cursor: pointer;
        position: relative;
        transition: 0.3s ease;

        a {
          line-height: normal;
        }

        button {
          background: none;
          border: none;
          outline: none;
          font-size: $font-size-header-4;
          font-family: $font-display;
          cursor: pointer;
          margin: 0;
          padding: 0;
          transition: 0.3s ease;
          vertical-align: top;
          padding-inline: 0 !important ;
          text-rendering: optimizeLegibility;
          &:hover {
            color: $blue-200;
          }
        }

        &:after {
          content: "";
          height: 4px;
          width: 80%;
          position: absolute;
          background: $blue-200;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%) scaleX(0);
          border-radius: $spacer-300;
          transition: 0.3s ease;
        }
        &:hover {
          color: $blue-200;
          &:after {
            transform: translateX(-50%) scaleX(1);
          }
        }
      }
    }
  }

  &LogoWrapper {
    max-width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Logo {
    width: 100%;
    height: $spacer-500;
    cursor: pointer;
  }

  .menuIcon {
    height: $spacer-400;
    width: $spacer-400;
    cursor: pointer;
  }

  section {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s ease-in-out;
    background-color: $neutral-100;
    border-right: solid $border-width-100 $neutral-300;
    padding-top: $spacer-700;
    z-index: -1;
  }
}

.visible {
  transform: translateX(0);
}
.hidden {
  transform: translateX(120%);
}

.hiddenSecondary {
  transform: translateX(-120%);
}

@media only screen and (min-width: 480px) {
  .modal {
    &Wrapper {
      &Close {
        top: $spacer-200;
        right: $spacer-500;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .pageHeader {
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-left: $spacer-400;
    &CTA {
      padding: $spacer-300 $spacer-400;
      background-color: $blue-200;
      border-radius: $border-roundness-100;
      color: $neutral-100;
      font-weight: $font-weight-semibold;

      &:after {
        display: none;
      }

      &:hover {
        background-color: $blue-100 !important;
        color: $neutral-100 !important;
      }
    }

    nav {
      position: initial;
      height: auto;
      padding: $spacer-400 $spacer-400;
      display: flex;
      align-items: flex-end;
      border: none;
      background: $neutral-100;
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $spacer-400;

        li {
          font-size: $font-size-label;
          button {
            font-size: $font-size-label;
          }
        }
      }
    }
    .menuIcon {
      display: none;
    }

    section {
      width: 30%;
      min-width: 500px;
      padding-top: calc($spacer-700 + $spacer-600);
      z-index: -1;
    }
  }

  .contentWrapper {
    margin-left: 500px;
  }

  .visible {
    transform: translateX(0);
  }

  .hidden {
    transform: translateX(0);
  }

  .hiddenSecondary {
    transform: translateX(0);
  }

  .mobileButton {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .activeHeaderLink {
    &:after {
      content: "";
      height: 4px;
      width: 80%;
      position: absolute;
      background: $yellow-200 !important;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%) scaleX(1) !important;
      border-radius: $spacer-300;
      transition: 0.3s ease;
    }
    &:hover {
      color: $blue-200;
      &:after {
        transform: translateX(-50%) scaleX(1);
        background-color: $blue-200 !important;
      }
    }
  }

  .pageHeader {
    gap: 0;
    nav {
      ul {
        gap: $spacer-500;
        li {
          font-size: $font-size-body;
          button {
            font-size: $font-size-body;
          }
        }
      }
    }
    &LogoWrapper {
      max-width: 250px;
    }

    &Logo {
      height: $spacer-600;
    }
  }
  .modal {
    &Wrapper {
      &Close {
        top: $spacer-200;
        right: $spacer-500;
      }
    }
  }
}

@media only screen and (min-width: 1366px) {
  .pageHeader {
    nav {
      ul {
        gap: $spacer-500;
        li {
          font-size: $font-size-body-large;
          button {
            font-size: $font-size-body-large;
          }
        }
      }
    }

    &LogoWrapper {
      max-width: 250px;
    }

    &Logo {
      height: $spacer-600;
    }
  }
}

@media only screen and (min-width: 1600px) {
}
