@import "../../styles/tokens.scss";
.wrapper {
  display: flex;
  flex-direction: row;
  gap: $spacer-300;
  align-items: center;
  justify-content: center;
  padding: $spacer-400 $spacer-400;
  p {
    color: $neutral-500;
  }
  div {
    width: fit-content;
  }
}
