@import "../../styles/tokens.scss";

.footer {
  width: 100%;
  background-color: $neutral-200;
  color: $neutral-700;
  padding: $spacer-400;
  display: flex;
  flex-direction: column;
  gap: $spacer-300;

  section:last-of-type {
    width: 100%;
    grid-column: span 3;
    font-size: $font-size-body;
    color: $neutral-500;
    margin-top: $spacer-400;
  }
}

@media only screen and (min-width: 1024px) {
  .footer {
    padding: $spacer-400 $spacer-400;
    display: grid;
    gap: $spacer-400;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1366px) {
  .footer {
    padding: $spacer-400 $spacer-800;
  }
}
