@import "../../styles/tokens.scss";

.footer {
  width: 100%;
  background-color: $neutral-200;
  color: $neutral-700;
  padding: $spacer-400;
  display: flex;
  flex-direction: column;
  gap: $spacer-400;

  &Logo {
    width: fit-content;
    height: 3rem;
    grid-column: span 3;
    align-self: flex-start;
  }

  &Contents {
    display: flex;
    flex-direction: column;
    gap: $spacer-300;
    max-width: 400px;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: $spacer-300;
  }

  a,
  button {
    color: $neutral-500;
    font-weight: $font-weight-semibold;
    position: relative;
    width: fit-content;
    padding: $spacer-100 0;
    background: none;
    padding-inline: none;
    border: none;
    cursor: pointer;
    font-size: $font-size-body;
    font-family: $font-body;
    &:hover {
      color: $blue-200;
    }
  }

  section:last-of-type {
    width: 100%;
    grid-column: span 3;
    font-size: $font-size-body;
    color: $neutral-500;
    margin-top: $spacer-400;
  }
}

@media only screen and (min-width: 1024px) {
  .footer {
    padding: $spacer-400 $spacer-400;
    display: grid;
    gap: $spacer-400;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;

    &Contents {
      max-width: auto;
    }
  }
}

@media only screen and (min-width: 1366px) {
  .footer {
    padding: $spacer-400 $spacer-800;
    column-gap: $spacer-800;
    row-gap: $spacer-400;
  }
}
