.form {
  background-color: white;
  padding-inline: 10rem;
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .inputFields {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
