@import "~/styles/tokens";
@import "~/styles/mixins";
.form {
  display: flex;
  flex-direction: column;
  gap: $spacer-400;

  @include for-size(tablet-up) {
    display: grid;
    grid-template-columns: 7fr 5fr;
    h2 {
      grid-column: 1/-1;
    }
  }
}
.selectInput {
  background-color: transparent;
  border: 1px solid $neutral-500;
  border-radius: $border-roundness-100;
  padding-block: $spacer-300;
  color: $neutral-600;
  font-family: $font-body;
  cursor: pointer;
  font-size: $font-size-body;
  font-weight: $font-weight-semibold;
  text-align: left;
  padding-inline: $spacer-100;
  min-width: 100%;
  &:hover {
    color: $blue-100;
    border-color: $blue-200;
  }
}
.selectLabel {
  display: flex;
  gap: $spacer-200;
  margin-bottom: $spacer-300;
  flex-direction: column;
  font-weight: $font-weight-semibold;
  margin-top: $spacer-300;
  select {
    padding: $spacer-300;
  }
}
.balance {
  position: relative;
  padding-bottom: $spacer-500;
}
.balanceVisual {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacer-300;
  padding-block: $spacer-600;

  span {
    font-size: $font-size-header-2;
    font-weight: $font-weight-semibold;
  }
}
.cornerLink {
  color: $blue-200;
  font-weight: $font-weight-semibold;
  position: absolute;
  inset: $spacer-400 $spacer-400 auto auto;

  &:hover {
    color: $blue-300;
  }
}
.primary {
  background-color: $blue-200;
  border: none;
  cursor: pointer;
  color: $neutral-100;
  font-family: $font-display;
  font-size: $font-size-body;
  font-weight: $font-weight-semibold;
  padding: $spacer-300 $spacer-600;
  border-radius: $border-roundness-100;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  border: solid $border-width-200 $blue-200;
  gap: $spacer-200;
  align-items: center;
  justify-content: center;
  &.small {
    margin-top: $spacer-300;
    padding: $spacer-200 $spacer-400;
  }
  &:disabled {
    background-color: $neutral-400;
    border: solid $border-width-200 $neutral-400;
    cursor: not-allowed;
    &:hover {
      background-color: $neutral-400;
      border: solid $border-width-200 $neutral-400;
    }
  }
}

.primary:hover {
  background-color: $blue-100;
  border: solid $border-width-200 $blue-100;
}

.primary:active {
  background-color: $blue-300;
  border: solid $border-width-200 $blue-300;
}
.buttonFlex {
  display: flex;
  flex-direction: column;
  gap: $spacer-400;
  @include for-size(tablet-up) {
    flex-direction: row;
  }
}
.buttonMargin {
  margin-top: $spacer-400;
}
